<div class="text-white">
  <p>
    <strong>Name:</strong>
    <%= @food.Name %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= @food.Measurement_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @food.Price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= @food.Quantity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @food.user_id %>
  </p>

</div>